*, *:after, *:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

img {
  vertical-align: middle;
}

.header {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 2fr;
      grid-template-rows: 1fr 2fr;
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("/img/header/bg.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/img/header/bg.jpg");
  background-size: auto;
}

.navbar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 12fr 20fr 1fr;
      grid-template-columns: 1fr 12fr 20fr 1fr;
      grid-template-areas: ". navbar-logo navbar-menu .";
  grid-auto-rows: minmax(-webkit-min-content, -webkit-max-content);
  grid-auto-rows: minmax(min-content, max-content);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: navbar-menu;
  -ms-grid-column-align: end;
      justify-self: end;
  color: #fff;
  text-decoration: none;
}

.navbar-logo {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: navbar-logo;
}

.navbar-logo__title {
  color: #fff;
  display: inline-block;
}

.header-text {
  color: #fff;
  -ms-grid-column-align: center;
      justify-self: center;
  text-align: center;
}

.about {
  display: -ms-grid;
  display: grid;
  grid-auto-rows: 700px;
  -ms-grid-columns: 1fr 5fr 3fr 1fr;
      grid-template-columns: 1fr 5fr 3fr 1fr;
      grid-template-areas: ". about__text about__img .";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 50px 30px;
  grid-row-gap: 35px;
}

.about__text {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: about__text;
}

.about__img {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: about__img;
}

.about__img img {
  width: 400px;
  height: auto;
}

.video {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("/img/video/video.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/img/video/video.jpg");
  background-size: cover;
  background-position: center center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column-align: center;
      justify-self: center;
  grid-auto-rows: minmax(100vh, 100vh);
  text-align: center;
}

.video:hover {
  cursor: pointer;
}

.material-icons {
  position: relative;
  text-align: center;
  font-size: 150px;
  color: #fff;
}

.material-icons::before {
  content: '';
  position: absolute;
  height: 400px;
  width: 400px;
  border: 1px solid white;
  border-radius: 50%;
  right: 50%;
  top: -70%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  opacity: 0.3;
}
/*# sourceMappingURL=style.css.map */