img 
    vertical-align: middle
.header
    display: grid
    grid-template-rows: 1fr 2fr
    min-height: 100vh
    background-image: url("/img/header/bg.jpg")
    background-size: auto
.navbar
    display: grid
    align-items: left
    grid-template-columns: 1fr 12fr 20fr 1fr
    grid-template-areas: ". navbar-logo navbar-menu ."
    grid-auto-rows: minmax(min-content, max-content)
    align-items: center
.navbar-menu
    grid-area: navbar-menu
    justify-self: end
.navbar-logo
    grid-area: navbar-logo
.navbar-logo__title
    display: inline-block
.header-text
    justify-self: center
    text-align: center